.textBlockTitle {
    text-align: center;
    padding-bottom: 70px;
}

.blockTwo {
    padding: 120px 15px;


    .imgWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

    .image {
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        @include transitionBase();

        &:hover .dim {
            opacity: 1;
            @include transitionBase();
        }

        img {
            width: 100%;
            display: block;
        }

        .dim {
            background: rgba(51, 51, 51, 0.548);
            @include overlay($top: 0);
            opacity: 0;

            .buttonYellow {
                @include centrageAbsolut($top: 35%);
                color: rgb(49, 47, 41);
            }
        }

        .textSmallWrap {
            @include centrageAbsolut($top: 60%);
            text-align: center;
        }
    }
    }
}
.blockThree{
    width: 100%;
    height: 100%;
    padding: 120px 0;
    background:url("../../img/price-bg.png") no-repeat center/cover;
    .paddings{
        padding: 0 15px;
        .rowWrapper {
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 30px;
            .roww {
                text-align: center;
                width: 100%;
                .textSmallBlackT{    
                    
                    border-bottom: 1px solid #f8b600;
                    padding-bottom: 20px;
                }
            }
        }
    }
}