.textBlockTitle {
    text-align: center;
    padding-bottom: 70px;
}

//section 2 (+ section 4 et 6)
.blockTwo, .blockFour, .blockSix {
    padding: 100px 15px;


    .imgWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 720px;
        margin: 0 auto;
        @media screen and (min-width: 940px) and (max-width: 1200px) {
            flex-direction: row;
            max-width: 1000px;
        }
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            max-width: 1200px;
        }
    .image {
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        @include transitionBase();

        @media screen and (min-width: 940px) {
            padding:0 6px;
        }
        &:hover .dim {
            opacity: 1;
            @include transitionBase();
        }

        img {
            width: 100%;
            display: block;
        }

        .dim {
            background: rgba(51, 51, 51, 0.548);
            @include overlay($top: 0);
            opacity: 0;

            .buttonYellow {
                @include centrageAbsolut($top: 35%);
                color: rgb(49, 47, 41);
            }
        }

        .textSmallWrap {
            @include centrageAbsolut($top: 60%);
            text-align: center;
        }
    }
    }
}
//section 3
.blockThree{
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background:url("../img/price-bg.png") no-repeat center/cover;
    .paddings{
        padding: 0 15px;
        .rowWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            //padding: 30px 30px;
            max-width: 720px;
            margin: 0 auto;

            @media screen and (min-width: 940px) and (max-width: 1200px){
                flex-direction: row;
                max-width: 1000px;
            }
            @media screen and (min-width: 1200px){
                flex-direction: row;
                max-width: 1200px;
            }

            .roww {
                text-align: center;
                width: 100%;
                background: #fff;
                margin: 0 0 30px 0;
                padding: 20px 25px 10px;
                @media screen and (min-width: 940px){
                    margin: 0 6px;
                }
                .textSmallBlackT{    
                    
                    border-bottom: 1px solid #f8b600;
                    padding-bottom: 20px;
                }
                .listingBlock{
                    padding:20px 0;

                    .listing{
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        padding:5px 5px;
                        
                        .buttonWhite{
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }
}
//section 4 (edits)
.blockFour{
    .imgBlockFour{
        align-items: flex-start;
        .twoArt{
            display:block;
            @media screen and (min-width: 740px){
                display:flex;
                max-width: 720px;
            }        
            .imageFour{
            width: 100%;
            margin-bottom: 30px;
            padding: 0px 16px;
            position: relative;
            &:Hover{
                .overflow{
                    img{
                        transform: scale(1.08) rotate(-3deg); //scale(1) ?
                    }
                }
                .textSmallBlackWrap.four{
                    .textSmallBlackT.tFour{
                        color:rgb(235, 185, 50);
                    }
                }
            }
            .overflow{
                overflow: hidden;
                img {
                    width: 100%;
                    display: block;
                    @include transitionBase();
                }
            }
            .textSmallBlackWrap.four{
                margin:10px 0;
                .tFour{
                    padding:5px 0;
                }
            }
            }
        }
    }
}
//section 5
.blockFive{
    padding: 120px 0 0;    
    background-color: #f9f9ff;
    .swiper-container{
        width: 100%;
        height: 100%;
        max-width:650px;
        @media screen and (max-width: 700px){
            max-width:500px;
        }
        //max-width:700px;
        .carousele{
            padding-bottom: 72px;
            .comment{
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 30px 0;
                //margin: 0 15px;s
                background: white;

                &:hover {
                    .profileTextWrap{
                        .textSmallBlackT.tFive{
                            color: rgb(235, 185, 50);
                        }
                    }
                }
                .profile{
                    height: 32px;
                    padding-left: 40px;
                }
                .profileTextWrap{
                    padding-left:30px;
                    padding-right: 40px;
                    .textSmallBlackT.tFive{
                        @include transitionBase();
                        margin: 10px 0 5px;
                    }
                    .stars{
                        font-size: 0.8em;
                        .yellow{
                            color:rgb(235, 185, 50);
                        }
                    }
                }
            }
        }
    }
    .packageWrapper{
        background: #fff;
        margin-top:120px;
        padding:0 15px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 990px){
            flex-direction: row;
        }
        .blockLeft{
            padding:120px 40px 80px;
            text-align: center;
            @media screen and (min-width: 990px){
                padding: 15px 40px 80px;
                text-align: left;
                width: 50%;
            }
            .textSmallGrey.tFive{
                margin:20px 0 40px;
            }
        }
        .blockRight{
            @media screen and (min-width: 990px){
                width: 50%;
            }
            .imageFive{
                margin: 0 -15px;
                @media screen and (min-width: 990px){
                    margin: 0 -15px 0 0;
                }
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

//section 6
.blockSix{
    .blogsWrapper{
        //width: 100%;
        height: 100%;
        max-width:70%;
        .carousele{
            padding-bottom: 72px;

            .blog {
                padding:20px 0 90px;
                width:100%;
                // @media screen and (min-width: 800px){
                //     width:300px;
                // }
                .overflow{
                    overflow: hidden;
                    img {
                        width: 100%;
                        display: block;
                        @include transitionBase();
                        &:hover{
                            transform: scale(1.08);
                        }
                    }
                }
                .buttons{
                    font-size: 13px;
                    padding:20px 0;
                    a{
                        margin-right: 5px;
                    }
                }
                .textSmallBlackWrap{
                    .textSmallBlackT.tFive{
                        cursor: pointer;
                        &:hover{
                            color:rgb(235, 185, 50);
                        }
                    }
                    .textSmallGrey.tFive{
                        margin:15px 0 10px;
                    }
                }
            }
        }
        .swipe-pagination{
            .span {
                width: 8px;
                height: 8px;
                display: inline-block;
                //border-radius: 100%;
                background: rgb(235, 185, 50);
                opacity: .2;
                .active{
                    opacity: 1;
                    background: rgb(235, 185, 50);
                }
            }
        }
    }
}

//------------BOOK HOLLIDAY PAGE --------------

.homeBlock{
    .paralax-img{
        .wrapper{
            .holliday{
                text-align: center;
                width: 100%;
                .textSmallWhite{
                    a{
                        text-decoration: none;
                        color:rgb(245, 241, 241);
                    }
                    span{
                        margin:0 10px;
                    }
                }
            }
        }
    }
}

//section 5 vue

.no-bottom{
    .textBlockTitle{
        padding-bottom: 0;
    }
    .packageWrapper{
        .blockLeft{
            @media screen and (min-width: 990px){
                padding: 15px 50px 0 8%;
            }
        }
    }   
}
.bookingsVue{
    padding: 60px 15px 0;
    .wrapperCountries{   
        width: 315px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        .but{
            //border:1px solid #f8b600;
            padding: 5px 10px;
            cursor: pointer;
        }
    }
    .wrapperCountryTrips{
        //border: 1px solid #999;
        padding: 5px;
        .trip{
            margin: 50px 7%;
            .peopleTitle{
                margin-top: 50px;
            }
            .passangers{
                border-radius: 5px;
            }
            .cart{
                display: flex;
                flex-direction: column;
                justify-content: right;
                align-items: flex-end;
            }
            .flexer{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                margin: 15px 0 0;
                @media screen and (max-width: 990px){
                    flex-direction: column;
                    align-items: center;
                }
                .wrapTrip{
                    width: 30%;
                    //border:1px solid #f8b600;
                    padding:10px 0;
                    margin: 0 10px;
                    
                    @media screen and (max-width: 990px){
                        width: 50%;
                    }
                    .tripName{
                        height: 60px;
                    }
                    .tripPicture{
                        img{
                            width:100%;
                        }
                    }
                    .tripUnitPrice{
                        margin:15px 0;
                    }
                }
            }
        }

    }
}

.show{
    display: block;
}
.hide{
    display: none;
}


//------------PACKAGE PAGE --------------

#package{
    padding: 100px 15px 0;
    @media screen and (max-width: 1200px) and (min-width: 940px){
        flex-wrap: wrap;
        //max-width:1000px;
    }
    @media screen and (min-width: 1200px){
        max-width:1200px;
        flex-wrap: wrap;
    }
    .imageFour{
        width: 100%;
        max-width: 500px;
        //padding: 15px;
        margin: 0 auto 30px;
        @include transitionBase();

        @media screen and (max-width: 940px) and (min-width: 740px){
            max-width: 690px;
        }
        @media screen and (max-width: 1200px) and (min-width: 940px){
            max-width: 290px;
        }
        @media screen and (min-width: 1200px){
            max-width: 360px;
        }
        &:Hover{
            box-shadow: 0px 10px 30px 0px rgba(60, 64, 143, 0.2);
        }
        .overflow{
            img{
                width: 100%;
            }
        }
        .cellWrap{
            padding:20px;
            background: #fff;
            .info-pack{
                list-style-type: none;
                padding:0;
                .cell{
                    //margin:16px 0;
                    padding:16px 0;
                    border-bottom: 1px solid rgb(233, 233, 233);
                    display: flex;
                    justify-content: space-between;
                }
                #price{
                    padding:16px 0;
                    align-items: center;
                    border-bottom: 0px solid rgb(233, 233, 233);
                    .buttonYellow{
                        color:rgb(49, 47, 41);
                        padding: 8px 21px;
                        font-weight: 600;
                    }
                }
            }
        }
        
    }
    
}