//header

.bannerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 15px 0;
    padding: 0 15px;
    .social {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 15px 0;
        .left {
            a {
                text-decoration: none;
                color: rgb(248, 244, 244);
                margin-right: 15px;
            }
        }
        .right {
            a {
                text-decoration: none;
                color: rgb(248, 244, 244);
                margin-left: 15px;
            }
        }
    }
    .banner {
        padding: 15px 15px;
        background: rgba(202, 202, 202, 0.267);
        margin: 0 -15px;
        display: flex;
        justify-content: space-between;
        .burger {
            position: relative;
            width: 36px;
            height: 36px;
            // border: 1px solid rgb(248, 244, 244);
            cursor: pointer;
            // z-index: 11;
            span {
                @include centrageAbsolut($top:50%);
                width: 70%;
                height: 2px;
                background-color: rgb(248, 244, 244);
                @include transitionBase();
            }
            :first-child {
                top: calc(50% - 7px);
            }
            :last-child {
                top: calc(50% + 7px);
            }
        }
    }
}
.homeBlock{
    width: 100%;
    height: 100%;
    
    padding: 0 15px;
    //z-index: -2;
    // &::before{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(51, 51, 51, 0.726);
    //     // z-index: -1;
    // }
    background:url("../../img/hero-bg.jpg") no-repeat center;
    .dim{
        background: rgba(51, 51, 51, 0.548);
        @include overlay($top: 0);
        z-index: -1;
    }
    .wrapper{
        padding-top: 125px;
        // padding-bottom: 50px;
        .textBlock{
            padding-bottom: 30px;
            .textSmallWhite{
                margin: 20px 0px;
            }
        }
        .formBlock{
            margin-top:30px;
            .ulTabs{
                list-style-type: none;
                display: flex;
                padding:0;
                margin:0;
                .liTab{
                    display: inline-block;
                    padding:10px 15px;
                    background: rgba(240, 235, 235, 0.274);
                    margin-right: 1px;
                }
                .active{
                    color:#333;
                    background: rgb(255, 255, 255);
                }
            }
            .formWrap{
                display: block;
                .inputWrap{
                    padding: 35px 30px;
                    background:  rgb(255, 255, 255);
                    text-align: center;
                    &.flights{
                        display:block;
                    }
                    &.hotels{
                        display:none;
                    }
                    &.holidays{
                        display:none;
                    }
                    .inputStyle{
                        padding:5px 5px;
                        margin-bottom: 10px;
                        width: 100%;
                        color:rgb(179, 173, 173);
                        border:1px solid rgb(228, 224, 224);
                        font-size: 0.9em;
                        &::placeholder{
                            color:rgb(179, 173, 173);
                            font-size: 0.9em;
                        }
                        option{
                            color:rgb(179, 173, 173);
                            
                        }
                    }
                    .submit{
                        -webkit-appearance: none;
                        
                    }
                }
            }
        }
    }
}
        // .burger {
        //     position: absolute;
        //     top: 15px;
        //     left: 15px;
        //     width: 36px;
        //     height: 36px;
        //     border: 1px solid black;
        //     border-radius: 3px;
        //     cursor: pointer;
        //     z-index: 11;
        //     // &.sticky{
        //     //     position: fixed;
        //     //     background: #000;
        //     //     border-radius: 5px;
        //     // }
        //     span {
        //         @include centrageAbsolut();
        //         width: 70%;
        //         height: 2px;
        //         background-color: black;
        //         @include transitionBase();
        //     }
        //     :first-child {
        //         top: calc(50% - 7px);
        //     }

        //     :last-child {
        //         top: calc(50% + 7px);
        //     }

        //     &:hover {
        //         :first-child {
        //             top: 50%;
        //             transform: translate(-50%, -50%) rotate(45deg);
        //         }
        //         :nth-child(2) {
        //             opacity: 0;
        //         }
        //         :last-child {
        //             top: 50%;
        //             transform: translate(-50%, -50%) rotate(-45deg);
        //         }
        //     }

        // &.active{
        //     :first-child {
        //         top:50%;
        //         transform: translate(-50%, -50%) rotate(45deg);
        //     }
        //     :nth-child(2){
        //         opacity: 0;
        //     }
        //     :last-child {
        //         top:50%;
        //         transform: translate(-50%, -50%) rotate(-45deg);
        //     }
        // }