<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Travelista, Magical Travel. Popular Destinations. We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day. We Provide Affordable Prices Well educated, intellectual people, especially scientists at all times demonstrate considerably. Other issues we can help you with We all live in an age that belongs to the young at heart. Life that is.">
    <title>Travelista</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body class="pageOne">
    <div class="navigation">
        <div class="menu">
            <div class="menu-bloc"><a href="index.html" class="textSmallWhiteCapForm">Home</a></div>
            <div class="menu-bloc"><a href="bookholiday.html" class="textSmallWhiteCapForm">Book your holidays</a></div>
            <div class="menu-bloc"><a href="package.html" class="textSmallWhiteCapForm">Packages</a></div>
            <div class="menu-bloc"><a href="#" class="textSmallWhiteCapForm">Contact</a></div>
        </div>

    </div>
    <!-- banner -->
    <header class="bannerWrapper">
        <div>
            <div class="social">
                <div class="left">
                    <a href="#">visit Us</a>
                    <a href="#">Buy Tickets</a>
                </div>
                <div class="right">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-behance"></i></a>
                </div>
            </div>
            <nav class="banner">
                <div class="logo">
                    <a href="index.htlml">
                        <img src="img/logo.png" alt="Logo-Travelista">
                    </a>
                </div>
                <!-- menu -->
                <div class="menu">
                    <div class="menu-bloc"><a href="index.html" class="textSmallWhiteCapForm">Home</a></div>
                    <div class="menu-bloc"><a href="bookholiday.html" class="textSmallWhiteCapForm">Book your holidays</a></div>
                    <div class="menu-bloc"><a href="package.html" class="textSmallWhiteCapForm">Packages</a></div>
                    <div class="menu-bloc"><a href="#" class="textSmallWhiteCapForm">Contact</a></div>
                </div>
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

            </nav>
        </div>
    </header>

<!-- section 1 -->
    <section class="homeBlock">
        <!-- open-paralax -->
        <div class="paralax-img" data-parallax="scroll" data-image-src="img/hero-bg-booking.jpg" alt="background-image">
        <div class="wrapper">
            <div class="textBlock holliday">
                <div class="textLarge">Book your holidays</div>
                <div class="textSmallWhite">
                    <a href="index.html">Home</a>
                    <span><i class="fas fa-long-arrow-alt-right"></i></span>
                    <a href="packadge.html">Book your hollidays</a>
                </div>
            </div>

            <!-- end-paralax -->
            </div>
        </div>
    </section>

<!-- section 5 -->
<section class="blockFive testimonial no-bottom">
    <div class="textBlockTitle five">
        <div class="textMedium">Choose your destination</div>
        <div class="textSmallGrey">Your city trip is waiting for you ♥</div>
        <!-- delete div commentsWrapper swiper-container -->

        <!-- new block here vue -->
        <div id="main" class="bookingsVue">

            <div class="wrapperCountries" @click="showBlock()">
                <div class="but fr textBlue" @click="filter('France')">France</div>
                <div class="but sp textBlue" @click="filter('Spain')">Spain</div>
                <div class="but bel textBlue" @click="filter('Belgium')">Belgium</div>
            </div>

            <!-- 'hide'=true // @click => 'hide':false -->
            <div class="wrapperCountryTrips" :class="{'hide': hideValue}">
                        
                <!-- loop : 3 countries-->
                <div class="trip france" :data-countryName="t.countryName" v-for="(t, index) in hollys" :key="index">
                    <div class="selection textSmallBlack">You've chosen : {{t.countryName}}</div>
                    <div class="textSmallBlack">There are 3 city-trips available there !</div>
                    <div class="textMedium peopleTitle">How many people will take the trip ?</div>
                    <select  v-model="selectedValue" class="passangers" @change="showSel(), onChange(event)">
                        <option disabled value="">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>

                    <!-- 'hide'=true // @change => 'hide':false -->
                    <div class="hiderSelect" :class="{'hide': popValue}">

                        <div class="cart">
                            <div class="blockBlue">
                                <div class="textSmallWhiteT">Your cart </div>
                                <div class="textSmallWhite">"addTitle"</div>
                            </div>
                        </div>

                        <div class="flexer" >

                            <!-- inner-LOOP : 3 trips of one country -->
                            <div class="wrapTrip tripOne" id="t.countryId" v-for="(b, i) in t.trips" :key="i">
                                <div class="tripName textSmallBlackT">{{b.tripName}}</div>
                                <div class="tripPicture">
                                        <img :src="b.tripPicture" alt="picture-trip">
                                </div>
                                <div class="tripUnitPrice textMediumS">{{b.tripUnitPrice}}€<span class="textSmallBlackT"> p/p</span></div>
                                <div  class="buttonBlue" :class="{'buttonBlueBorder': borderValue}"  @click="add()">Add to cart</div>
                            </div>
                            <!-- END inner-LOOP -->
                        </div>
                    
                        <div class="total">
                            <h3 class="textMedium">You'll pay <span class="blue">{{totalPrice | currency}}</span></h3>
                        </div>

                    </div>
                    <!-- en "hider" -->

                   </div>
                <!-- end-loop -->
            
            </div>    

            <!-- end div bookingVue  -->
        </div>


    </div>
    <div class="packageWrapper">
        <div class="blockLeft">
            <div class="textSmallBlackT tFive">Did not find your Package?<br>
                Feel free to ask us. <br>
                We‘ll make it for you
            </div>
            <div class="textSmallGrey tFive">inappropriate behavior is often laughed off as “boys will be boys,”
                women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as
                women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</div>
            <div class="buttonBlack">Request custom price</div>
        </div>
        <div class="blockRight">
            <div class="imageFive">
                <img src="img/about-img.jpg" alt="image-panoramic"></div>
        </div>
    </div>
</section>
 


    
<!-- footer -->
    
<footer>

    
        <div class="navigationBoxTop">
            <div class="twoBoxWrap">
                <div class="oneBox about">
                    <div class="textSmallWhiteT">ABOUT AGENCY</div>
                    <div class="textSmallGrey">The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point</div>
                </div>
                <div class="oneBox links">
                        <div class="textSmallWhiteT">NAVIGATION LINKS</div>
                        <a href="index.html" class="textSmallGrey">Home</a>
                        <a  href="#" class="textSmallGrey">About</a>
                        <a  href="package.html" class="textSmallGrey">Package</a>
                        <a  href="#" class="textSmallGrey">Contact</a>
                    </div>
            </div>
            <div class="twoBoxWrap">
                    <div class="oneBox newsletter">
                        <div class="textSmallWhiteT">NEWSLETTER</div>
                        <div class="textSmallGrey">For business professionals caught between high OEM price and mediocre print and graphic output.</div>
                        <div class="send-email">
                            <input type="email" name="email" id="email" placeholder="Email adress">
                            <div class="submit" type="submit" name="sending" id="sending"><i class="fas fa-share-square"></i></div>
                        </div>
                    </div>
                    <div class="oneBox instafeed">
                            <div class="textSmallWhiteT">INSTAFEED</div>
                            <ul class="ulTab">
                                <li><img src="img/i1.jpg" alt="picture-on-instagram"></li>
                                <li><img src="img/i2.jpg" alt="picture-on-instagram"></li>
                                <li><img src="img/i3.jpg" alt="picture-on-instagram"></li>
                                <li><img src="img/i4.jpg" alt="picture-on-instagram"></li>
                                <li><img src="img/i5.jpg" alt="picture-on-instagram"></li>
                                <li><img src="img/i6.jpg" alt="picture-on-instagram"></li>
                                <li><img src="img/i7.jpg" alt="picture-on-instagram"></li>
                                <li><img src="img/i8.jpg" alt="picture-on-instagram"></li>
                            </ul>
                        </div>
                </div>
        </div>
        <div class="navigationBoxBottom">
            <div class="copySocialWrap">
                <div class="textSmallGrey">Copyright ©2019 All rights reserved | This template is made with <i class="far fa-heart"></i> by <span>Colorlib</span></div>
                <div class="socialIcons">             
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-behance"></i></a>
                </div>
            </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax.js/1.5.0/parallax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

        <!-- new extra 3x vue : -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="js/vue.min.js"></script>

        <script src="js/main.min.js"></script>
    </body>
    
    </html>